@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--vt-c-green);
}

/* q: suggest a color pallet based on hsla(160, 100%, 37%, 1);  */
/* a:  */
